@import url(_opened/popup_opened.css);
@import url(__close-icon/popup__close-icon.css);
@import url(__container/popup__container.css);
@import url(__title/popup__title.css);
@import url(__item/popup__item.css);
@import url(__profile-title/popup__profile-title.css);
@import url(__profile-subtitle/popup__profile-subtitle.css);
@import url(__submit/popup__submit.css);

.popup {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
}