.page {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  position: relative;
}

@media screen and (min-width: 882px) {
  .page {
    margin: 0 0 0 70px;
  }
}