@import url('_type/popup__input_type_error.css');

.popup__input {
  width: 358px;
  border: 0;
  color: #000;
  padding: 0 0 13px 0 ;
}

@media screen  and (max-width: 480px){
  .popup__input {
    width: 225px;
  }
}