@import url(_preview/popup__container_preview.css);

.popup__container {
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FFF;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  margin: 195px auto;

}

@media screen  and (max-width: 480px){
  .popup__container {
    width: 255px;
  }
}