@import url('./__item/elements__item.css');
@import url('./__image/elements__image.css');
@import url('./__content/elements__content.css');
@import url('./__title/elements__title.css');

.elements {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 990px){
  .elements {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 26px;
  }
}