.popup__container.popup__container_preview {
  width: 80%;
  max-width: 800px;
  display: block;
  height: initial;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
}