.popup__close-icon {
  padding: 0;
  border: none;
  width: 41px;
  height: 41px;
  background: url(../../../images/icon_close.svg);
  background-size: 40px;
  margin-left: 455px;
  margin-top: -30px;
}


/*padding: 0;*/
/*border: none;*/
/*width: 41px;*/
/*height: 41px;*/
/*background: url(../../../images/icon_close.svg);*/
/*background-size: 40px;*/
/*margin-right: -44px;*/
/*!* margin-top: -30px; *!*/
/*display: inline-block;*/

@media screen  and (max-width: 480px){
  .popup__close-icon {
    margin-left: 279px;
    margin-top: -30px;
  }
}