.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

@media screen and (min-width: 882px){
  .profile__info {
    margin-left: 30px;
    margin-top: 30px;
  }
}