@import url('_heart/button_heart.css');
@import url('_heart-clicked/button_heart-clicked.css');
@import url('_delete/button_delete.css');

.button {
  outline:none;
}

.button:hover {
  cursor: pointer;
  opacity: .6;
}